section#advertisement {
	padding: {
		top: 3rem;
		left: 5rem;
	}
	background-color: #000;
	.container .portion {
		h2 {
		margin-bottom: 5rem;
		}
		p {
		margin-bottom: 4rem;
		font-size: 14px;
		width: 600px;
		}
		span {
			font-size: 14px;
		}
	}
	color: #fff;
}
