header#main-header {
	background-color: #fff;
	padding: {
		top: 1rem;
		right: 3rem;
		left: 3rem;
	}

	nav .navbar-paragraph {
		font-family: 'Oswald', sans-serif;
		font-size: 12px;
		margin: 0 auto;
		margin-bottom: 1rem;
		text-align: center;
	}

	.navbar li {
			text-transform: uppercase;
			font-size: 12px;
		}
		.link li {
		margin: 0 1rem;
	}
		.iconic li {
		margin: 0 0.5rem;
	}
}