/* Utils start */
.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

.align-center {
	align-items: center;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.align-stretch {
	align-items: stretch;
}

.portion {
	flex: 1;
}

.container {
	width: 1265px;
	margin: 0 auto;
}

h1 {
	font: {
		size: 40px;
		weight: 700;
	}
	text: {
		align: center;
		transform: uppercase
	}
	letter-spacing: 0.5rem;
	color: #fff;
}

h2 {
	font: {
		size: 28px;
		weight: 400;
	}
	text: {
		transform: uppercase;
	}
}

h5 {
	font: {
		size: 12px;
		weight: 400;
	}
	color: #000;
}

/* Utils end */